.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/159643/laptop-ipad-organic-natural-159643.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
  color: white;
}

.loginForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.loginForm > label {
  color: white;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  background-color: rgb(80, 74, 74);
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: red;
}

.loginRegisterButton {
  background-color: rgb(243, 125, 145);
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border: none;
  padding: 10px;
  width: 189px;
  border-radius: 10px;
}

.link {
  color: white;
  text-decoration: none;
}
