.header {
  margin-top: 30px;
}

.headerTitles {
  display: flex;
  align-items: center;
  color: #444;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
}

.headerTitleLg {
  position: absolute;
  top: 15%;
  font-size: 100px;
  color: rgb(254, 254, 254);
}



.headerImg {
  width: 100%;
  height: auto;
  max-height: 400px;
  margin-top: 30px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .headerTitleLg {
    font-size: 40px;
    top: 20%;
  }

  .headerTitleSm {
    font-size: 20px;
    top: 18%;
  }

  .headerImg {
    /* height: 450px;
    margin-top: 80px; */
    width: 100%;
    margin: auto;
  }
}
