.write {
  padding-top: 50px;
}

.writeForm {
  position: relative;
}

.writeCat {
  display: flex;
  align-items: center;
  margin-left: 150px;
  color: rgba(0, 0, 0, 0.774);
}

.writeCat > label {
  font-size: 18px;
  padding: 20px;
  width: 15vw;
}

.writeCat > select {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  color: rgba(0, 0, 0, 0.774);
}

.writeFormGroup {
  display: flex;
  align-items: center;
  margin-left: 150px;
}

.chooseCat {
  display: flex;
  justify-content: space-between;
}

.writeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
  margin-bottom: 100%;
}

.writeSubmit {
  position: absolute;
  top: 300px;
  right: 50px;
  color: white;
  background-color: teal;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.imgUpload {
  font-size: 20px;
  color: gray;
  margin-right: 5px;
  margin-left: 20px;
}

@media only screen and (min-width: 600px) {
  .writeCat {
    margin-left: 150px;
  }
  .writeFormGroup {
    margin-left: 150px;
  }
  .writeImg {
    margin-left: 150px;
    width: 70vw;
  }
  
}
